<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <title>Save The World, buy trees</title>
</head>

<body>
    <div class="container" id="home">
        <h1>Save The World,<br /> Buy Trees!</h1>
        <div class="cta">
            <button class="btn btn-big">
                Buy Now
            </button>
        </div>
    </div>
    <div class="container" id="why">
        <div class="splits splits-3">
            <div class="split split-1">
                <div class="icon">
                    <i class="fab fa-pagelines"></i>
                </div>
                <h2>Why We Do That</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cumque sed, excepturi consequatur totam
                    quis sit exercitationem hic, perspiciatis, nulla quam iste consectetur ducimus qui.</p>
            </div>
            <div class="split split-2">
                <a href='https://pngtree.com/so/flat'><img src="img/forest-icon.png" width="100%"></a>
            </div>
            <div class="split split-3">
                <div class="icon">
                    <i class="fab fa-pagelines"></i>
                </div>
                <h2>Why You Should Do That</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cumque sed, excepturi consequatur totam
                    quis sit exercitationem hic, perspiciatis, nulla quam iste consectetur ducimus qui.</p>
            </div>
        </div>
    </div>
    <div class="container" id="buy">
        <h2>Buy Your Tree Now!</h2>
        <div class="splits splits-2">
            <div class="split split-1">
                <img src="img/eucalyptus.png" width="500px" alt="">
                <h3>Eucalyptus</h3>
                <h4>Price: $ 2.00</h4>
                <h4>Amount: <span>0</span></h4>
                <div class="plus-minus">
                    <button class="btn btn-small plus">+</button>
                    <button class="btn btn-small minus">-</button>
                </div>
            </div>
            <div class="split split-2">
                <img src="img/pine.png" width="275px" alt="">
                <h3>Pine</h3>
                <h4>Price: $ 2.00</h4>
                <h4>Amount: <span>0</span></h4>
                <div class="plus-minus">
                    <button class="btn btn-small plus">+</button>
                    <button class="btn btn-small minus">-</button>
                </div>
            </div>
        </div>
        <button class="btn btn-big">
            Buy Now
        </button>
    </div>
    <footer>
        <p>Made by Miguel &copy; 2021 - 20xx</p>
    </footer>
    <script src="https://kit.fontawesome.com/f39cd0f859.js" crossorigin="anonymous"></script>
</body>

</html>